interface={{ wlan_interface }} # Listening interface
dhcp-range=10.20.30.10,10.20.30.200,255.255.255.0,24h
                # Pool of IP addresses served via DHCP
domain={{ domain_name }}     # Local wireless DNS domain
address=/pi-pineapple.{{ domain_name }}/10.20.30.1
                # Alias for this router