interface={{ wlan_interface }} # Listening interface
bind-interfaces
dhcp-range={{dhcp_range_start_ip}},{{dhcp_range_end_ip}},{{dhcp_range_subnet_mask}},24h
                # Pool of IP addresses served via DHCP
domain={{ domain_name }}     # Local wireless DNS domain
address=/pi-pineapple.{{ domain_name }}/{{lan_interface_ip}}
                # Alias for this router