[Unit]
Description=MITMProxy Systemd Unit
After=network.target

[Service]
Restart=on-failure
ExecStart=/usr/local/bin/mitmweb --web-host 0.0.0.0  --mode transparent --showhost

[Install]
WantedBy=multi-user.target