[Unit]
Description=MITMProxy Systemd Unit
After=network.target

[Service]
Restart=on-failure
WorkingDirectory=/opt/pi_pinapple
ExecStart=/usr/bin/python3 manage.py runserver

[Install]
WantedBy=multi-user.target