[Unit]
Description=Django Pi-Pineapple Webserver
After=network.target

[Service]
Restart=on-failure
WorkingDirectory=/var/tcpdump
ExecStart=/usr/sbin/tcpdump -i {{ wlan_interface }} -w {{ wlan_interface }}.pcap

[Install]
WantedBy=multi-user.target