<div class="col-md-2">
    <div class="panel {% if services.mitmweb.status == 'active' %}panel-success{% else %}panel-danger{% endif %}">
        <div class="panel-heading">
            <h3 class="panel-title">MITMProxy</h3>
        </div>
        <div class="panel-body">
            {% if services.mitmweb.status == 'active' %}Online<br/><a href="http://{{ request.get_host | slice:':-5' }}:8081/">http://{{ request.get_host | slice:':-5' }}:8081/</a>{% else %}Offline{% endif %}
        </div>
    </div>
</div>