<div class="col-md-12">
    <div class="panel {% if services.elasticsearch.status == 'active' %}panel-success{% else %}panel-danger{% endif %}">
        <div class="panel-heading">
            <h3 class="panel-title">Elasticsearch - {% if services.elasticsearch.status == 'active' %}Online - <a href="http://{{ request.get_host | slice:':-5' }}:9200/">http://{{ request.get_host | slice:':-5' }}:9200/</a>{% else %}
                Offline{% endif %}</h3>
        </div>
        <div class="panel-body">
            {{ services.elasticsearch.raw_output | safe }}
        </div>
    </div>
</div>