{% extends 'dashboard/models/base.html' %}
{% load i18n %}

{% block title %}{% trans "Pi-Pinapple" %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="page-header">
            <h1>{% trans "Status" %}</h1>
        </div>
        <div class="row home-container">
            <div class="col-md-12">
                <div class="panel {% if internet.reachable %}panel-success{% else %}panel-danger{% endif %}">
                    <div class="panel-heading">
                        <h3 class="panel-title">Internet</h3>
                    </div>
                    <div class="panel-body">
                        {% if internet.reachable %}Reachable{% else %}Unreachable{% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row home-container">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Network Interfaces</h3>
                    </div>
                    <div class="panel-body">
                        {{ interfaces|length }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Wireless Interfaces</h3>
                    </div>
                    <div class="panel-body">
                        {{ wireless_interfaces|length }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row home-container">
            {% include "dashboard/models/services/dhcp/status.html" %}
            {% include "dashboard/models/services/hostapd/status.html" %}
            {% include "dashboard/models/services/mitmproxy/status.html" %}
            {% include "dashboard/models/services/tcpdump/status.html" %}
            {% include "dashboard/models/services/elastic/status.html" %}
            {% include "dashboard/models/services/kibana/status.html" %}
            {% include "dashboard/models/services/moloch/status.html" %}
        </div>

        <div class="row home-container">
            {% include "dashboard/models/services/hostapd/wps_pbc.html" %}
        </div>
    </div>
{% endblock %}
